<div class="px-4 mt-4">

  <%# Rules for viewing the page: if mentor, can only be seen by him/herself or mentees, unless the user_profile is public. If mentee, can only be seen by him/herself or mentor if the profile is public. %>
  <% if !@user_profile %>
      <div class="alert alert-danger" role="alert">You must create a mentor/mentee profile to view this page</div>
  <% else %>
    <div class="px-4 mt-4 container">
      <h1>Your Profile</h1>
      <br>
      <% if (@user_profile.mentee == true && (@user_profile.mentee_public == false || @user_profile.mentee_availability == false)) %>
        <div class="alert alert-warning" role="alert">Mentors are currently not able to see you because your profile is not public and/or you are not available as a mentor. You can still see mentors and they will be able to see you if you message or request them.</div>
      <% end %>
      <div class="row">
        <%# Left half of the screen: image (or blank) %>
        <% if @user_profile.picture.attached? %>
          <div class="col-12 col-md-6">
              <%= image_tag @user_profile.picture, class:"show-img" %>
          </div>
        <% end %>
        <%# Right half of screen (or left half if there's no picture): profile info %>
        <div class="col-12 col-md-6">
          <div class = "card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <strong>Name:</strong>
                <%= @user_profile.name %>
              </li>

              <li class="list-group-item">
                <strong>Age:</strong>
                <%= @user_profile.age %>
              </li>

              <li class="list-group-item">
                <strong>Reason for interest:</strong>
                <%= @user_profile.reason_for_interest %>
              </li>

              <li class="list-group-item">
                <strong>Interests:</strong>
                <%= @user_profile.interests %>
              </li>

              <li class="list-group-item">
                <strong>Discussion topics:</strong>
                <%= @user_profile.discussion_topics %>
              </li>

              <li class="list-group-item">
                <strong>Country:</strong>
                <%# Finds the country with the correct country id and returns the country name %>
                <%= @user_profile.country.country_name %>
              </li>

              <li class="list-group-item">
                <strong>Gender:</strong>
                <%# Finds the gender with the correct gender id and returns the gender name %>
                <%= @user_profile.gender.gender_name %>
              </li>

              <li class="list-group-item">
                <strong>Sexuality:</strong>
                <%# Finds the sexuality with the correct sexuality id and returns the sexuality name %>
                <%= @user_profile.sexuality.sexuality_name %>
              </li>

              <li class="list-group-item">
                <strong>Identity:</strong>
                <%# Finds the identity with the correct identity id and returns the identity name %>
                <%= @user_profile.identity.identity_name %>
              </li>

              <li class="list-group-item">
                <strong>Mentor:</strong>
                <%= @user_profile.mentor %>
              </li>

              <li class="list-group-item">
                <strong>Mentee:</strong>
                <%= @user_profile.mentee %>
              </li>

              <li class="list-group-item">
                <strong>Mentor profile visible to public:</strong>
                <%= @user_profile.mentor_public %>
              </li>

              <li class="list-group-item">
                <strong>Mentee profile visible to all mentors:</strong>
                <%= @user_profile.mentee_public %>
              </li>

              <li class="list-group-item">
                <strong>Mentor availability:</strong>
                <%= @user_profile.mentor_availability %>
              </li>

              <li class="list-group-item">
                <strong>Mentee availability:</strong>
                <%= @user_profile.mentee_availability %>
              </li>

            </ul>
          </div>

          <br>

        </div>
      </div>
      <% if @user_profile.picture.attached? %>
        <div class="float-right">
          <%= link_to 'Edit profile', edit_profile_path(@user_profile), class: "btn btn-primary" %>
          <%= link_to 'Edit login details', edit_user_registration_path, class: "btn btn-primary" %>
          <br>
          <br>
        </div>
      <% else %>
        <div>
          <%= link_to 'Edit profile', edit_profile_path(@user_profile), class: "btn btn-primary" %>
          <%= link_to 'Edit login details', edit_user_registration_path, class: "btn btn-primary" %>
          <br>
          <br>
        </div>
      <% end %>
    </div>
  <% end %>
  <br>
</div>