<%# Rules for viewing the page: if mentor, can only be seen by him/herself or mentees, unless the profile is public. If mentee, can only be seen by him/herself or mentor if the profile is public. %>
<% if (@profile.mentor == true && (@profile.mentor_public == true || (user_signed_in? && @user_profile && @user_profile.mentee == true))) || (@profile.mentee == true && @profile.mentee_public == true && user_signed_in? && @user_profile && @user_profile.mentor == true) %>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @profile.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= @profile.age %>
  </p>

  <p>
    <strong>Reason for interest:</strong>
    <%= @profile.reason_for_interest %>
  </p>

  <p>
    <strong>Interests:</strong>
    <%= @profile.interests %>
  </p>

  <p>
    <strong>Discussion topics:</strong>
    <%= @profile.discussion_topics %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= @profile.country_id %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= @profile.gender_id %>
  </p>

  <p>
    <strong>Sexuality:</strong>
    <%= @profile.sexuality_id %>
  </p>

  <p>
    <strong>Identity:</strong>
    <%= @profile.identity_id %>
  </p>

  <p>
    <strong>Mentor:</strong>
    <%= @profile.mentor %>
  </p>

  <p>
    <strong>Mentee:</strong>
    <%= @profile.mentee %>
  </p>

  <p>
    <strong>Mentor public:</strong>
    <%= @profile.mentor_public %>
  </p>

  <p>
    <strong>Mentee public:</strong>
    <%= @profile.mentee_public %>
  </p>

  <p>
    <strong>Mentor availability:</strong>
    <%= @profile.mentor_availability %>
  </p>

  <p>
    <strong>Mentee availability:</strong>
    <%= @profile.mentee_availability %>
  </p>

  <br>

  <%= image_tag @profile.picture if @profile.picture.attached? %>

  <%= link_to 'Edit', edit_profile_path(@profile) %> |
  <%= link_to 'Back', profiles_path %>

<% else %>
  <h1>This profile is private</h1>
<% end %>