<div class="px-4 mt-4">
<%# Rules for viewing the page: if mentor, can only be seen by him/herself or mentees, unless the profile is public. If mentee, can only be seen by him/herself or mentor if the profile is public. %>
<% if (@profile.mentor == true && (@profile.mentor_public == true || (user_signed_in? && @user_profile && @user_profile.mentee == true))) || (@profile.mentee == true && @profile.mentee_public == true && user_signed_in? && @user_profile && @user_profile.mentor == true) || @request_from || @messages_from %>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @profile.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= @profile.age %>
  </p>

  <p>
    <strong>Reason for interest:</strong>
    <%= @profile.reason_for_interest %>
  </p>

  <p>
    <strong>Interests:</strong>
    <%= @profile.interests %>
  </p>

  <p>
    <strong>Discussion topics:</strong>
    <%= @profile.discussion_topics %>
  </p>

  <p>
    <strong>Country:</strong>
    <%# Finds the country with the correct country id and returns the country name %>
    <%= Country.find(@profile.country_id).country_name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%# Finds the gender with the correct gender id and returns the gender name %>
    <%= Gender.find(@profile.gender_id).gender_name %>
  </p>

  <p>
    <strong>Sexuality:</strong>
    <%# Finds the sexuality with the correct sexuality id and returns the sexuality name %>
    <%= Sexuality.find(@profile.sexuality_id).sexuality_name %>
  </p>

  <p>
    <strong>Identity:</strong>
    <%# Finds the identity with the correct identity id and returns the identity name %>
    <%= Identity.find(@profile.identity_id).identity_name %>
  </p>

  <p>
    <strong>Mentor:</strong>
    <%= @profile.mentor %>
  </p>

  <p>
    <strong>Mentee:</strong>
    <%= @profile.mentee %>
  </p>

  <p>
    <strong>Mentor availability:</strong>
    <%= @profile.mentor_availability %>
  </p>

  <p>
    <strong>Mentee availability:</strong>
    <%= @profile.mentee_availability %>
  </p>

  <%# User can request a mentor if they are a mentee and the profile they are looking at is an available mentor and there are no active requests from that mentee to that mentor %>
  <% if (user_signed_in? && @user_profile && @user_profile.mentee == true && @profile.mentor == true && @profile.mentor_availability == true && @requests_from.empty? && @requests_to.empty?) %>
    <%= form_with url: "/requests", method: :post do |form| %>
      <%= form.hidden_field :receiver_id, value: @profile.user_id %>
      <%= form.hidden_field :sender_role, value: "mentee" %>
      <%= form.hidden_field :receiver_role, value: "mentor" %>
      <%= form.submit "Request as mentor" %>
    <% end %>
    <br>
  <% end %>


  <%# User can request a mentee if they are a mentor and the profile they are looking at is an available public mentee and there are no active requests from that mentor to that mentee %>
  <% if (user_signed_in? && @user_profile && @user_profile.mentor == true && @profile.mentee == true && @profile.mentee_availability == true && @profile.mentee_public == true && @requests_from.empty? && @requests_to.empty?) %>
    <%= form_with url: "/requests", method: :post do |form| %>
      <%= form.hidden_field :receiver_id, value: @profile.user_id %>
      <%= form.hidden_field :sender_role, value: "mentor" %>
      <%= form.hidden_field :receiver_role, value: "mentee" %>
      <%= form.submit "Request as mentee" %>
    <% end %>
    <br>
  <% end %>


  <% if user_signed_in? %>
    <%= form_with url: "/message_create", method: :post do |form| %>
      <%= form.hidden_field :receiver_id, value: @profile.user_id %>
      <%= form.label :message, "Send a message to #{@profile.name}:" %>
      <br>
      <%= form.text_area :message %>
      <br>
      <%= form.submit "Send message" %>
    <% end %>
  <% end %>

  <br>

  <%= image_tag @profile.picture if @profile.picture.attached? %>

  <%= link_to 'Back', profiles_path %>

<% else %>
  <div class="alert alert-danger" role="alert">This profile is private</div>
<% end %>

</div>