<nav>
    <%= link_to "Home", home_path %>
    <%= link_to "Donate", donate_path %>
    <%= link_to "Mentors", profiles_path %>
    <%= link_to "Mentees", mentees_path %>
    <% if user_signed_in? %>
        <%= link_to "My Profile", details_path %>
        <% if !@user_profile %>
            <%= link_to "Register as Mentor/Mentee", new_profile_path %>
        <% end %>
        <%= link_to "Sign Out", destroy_user_session_path, method: "delete" %>
    <% else %>
        <%= link_to "Sign In", new_user_session_path %>
        <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>
</nav>